In [75]:
import os
import fastf1 as ff1
import pandas as pd 
import numpy as np
import pandas as pd

Getting details from 2024 Bahrain Grand Prix

In [ ]:
if not os.path.exists('./f1_cache'):
    os.makedirs('./f1_cache')
    ff1.Cache.enable_cache('./f1_cache')

session = ff1.get_session(2024, 'Bahrain', 'R')
session.load()

In [77]:
laps2024 = session.laps[['Driver', 'LapTime', 'Sector1Time', 'Sector2Time', 'Sector3Time']].copy()

# Convert columns to timedelta
laps2024['LapTime'] = pd.to_timedelta(laps2024['LapTime'])
laps2024['Sector1Time'] = pd.to_timedelta(laps2024['Sector1Time'])
laps2024['Sector2Time'] = pd.to_timedelta(laps2024['Sector2Time'])
laps2024['Sector3Time'] = pd.to_timedelta(laps2024['Sector3Time'])

# Convert timedelta to total seconds
laps2024['LapTime'] = laps2024['LapTime'].dt.total_seconds()
laps2024['Sector1Time'] = laps2024['Sector1Time'].dt.total_seconds()
laps2024['Sector2Time'] = laps2024['Sector2Time'].dt.total_seconds()
laps2024['Sector3Time'] = laps2024['Sector3Time'].dt.total_seconds()

laps2024 = laps2024.groupby('Driver')[['LapTime', 'Sector1Time', 'Sector2Time', 'Sector3Time']].mean().reset_index()

laps2024.head()

  Driver    LapTime  Sector1Time  Sector2Time  Sector3Time
0    ALB  98.511214    31.880364    42.436839    24.129321
1    ALO  97.888228    31.710143    42.104842    24.028702
2    BOT  98.503745    31.559370    42.522339    24.249911
3    GAS  98.877839    32.366545    42.159696    24.230589
4    HAM  97.457298    31.525643    42.031789    23.836807

In [78]:
len(laps2024)

20

Getting details from 2025 Bahrain Qualifying